#qr-scanner {
    /* Add styles for your QR scanner here */
}

#ar-scene {
    /* Add styles for your AR scene here */
}

#animationButton.playPauseButton {
    position: absolute;
    bottom: 10%;  
    left: 50%;     
    transform: translateX(-50%); 
    z-index: 10000;  
    background-color: rgba(0, 0, 0, 0.6);  
    border-radius: 50%; 
    padding: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); 
}

#animationButton.playPauseButton:hover {
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); 
}

svg {
    transition: opacity 0.3s;
    fill: white; 
}

#playButton, #pauseButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}
#instructions {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 3.6s infinite ease-in-out;
    animation: sk-cubemove 3.6s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}


@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg) }
    50.1% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% { 
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
