@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

.articles {
    margin: 3% 10%;
    background-color: #eefafe;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

h1 {
    font-size: 3vw;
    color: #1d3557;
    font-family: Lato;
    margin: 0;
    text-align: center;
}

.articles h2 {
    margin: 0;
}

/* .article a {
    text-decoration: none;
} */

.articles a:hover { 
    color: #457B9D !important;
}

.articles a:visited { 
    text-decoration: none;
    color: #04436d;
}

.articles h3 {
    font-family: Lato;
    color: #1d3557;
    margin: 0;
}

.articledescription {
    color: #457B9D !important;
    font-weight: 400;
    line-height: 1.5;
}

#articlelink {
    font-family: Lato;
    font-size: 2.5vw;
}

content {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    display:block;
    text-align: justify;
}

.article h1{
    font-family: 'Lato';
    font-size: 3vw;
    font-weight: 600;
    color:     #123e5c;
    opacity: 1;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
}

#time {
    font-family: 'Lato';
    font-size: 1.3vw;
    font-weight: 600;
    color:   #122f42;
    margin: 0;
    text-align: center;
}

.article p {
    font-family: Lato;
    font-size: 1.5vw;
    color: black;
    text-align: left;
    width: auto;
    line-height: 190%;
    margin: 5% 10%;
    text-align: justify;
}

.link {
    font-style: normal;
    color: blue;
    text-decoration: underline;
}

.images {
    width: 60%;
    margin: 0% 20%;
    display: flex;
    flex-wrap: wrap;
}

.list {
    width: 70%;
    margin: 0% 15%;
    display: block; 
}

.listheading {
    font-size: 1.5em;
}

.articleimages {
    width: 100%;
    margin: 2% 0px 0px 0px;
    display: flex;
    align-items: center;
    text-align: center;
}

.caption {
    font-style: italic;
    text-align: center;
    width: 100%;
}

.quote {
    font-style: italic;
    text-align: center;
    width: 80%;
    display: block;
    margin: 0 10%;
    font-family: Caveat;
}

.bold {
    font-weight: 800;
}

.italic{
    font-style: italic;
}

#postscript {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 4.5vw;
    }
    #articlelink {
        font-size: 5.5vw;
    }
    .article h1 {
        font-size: 4.5vw;
    }
    #time {
        font-size: 3vw;
    }
    .article p {
        font-size: 3vw;
        margin: 5% 5%;
    }
    .listheading {
        font-size: 1.2em;
    }
    .list {
        width: 80%;
        margin: 0% 10%;  
    }
    .images {
        width: 80%;
        margin: 0% 10%;
    }
}