body {
    background-color: #F1FAEE;
    font-family: Merriweather;
}

form {
    line-height: 5vw;
    margin: 1% 0%;
}


label, #yesorno, option, select {
    font-size: 2vw;
    text-align: left;
}

input[type="text"], input[type="number"], select {
    height: 4vw;
    width: 30vw;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 2vw;
    text-align: left;
    padding: 0% 1vw;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border: 2px solid #646161ab;
}

input[type="radio"] {
    display: inline-flex;
    margin: 0;
    align-content: center;
}

#main {
    background-color: #F1FAEE;
    text-align: center;
    border-radius: 15px;
    margin: 2% 10%;
    overflow: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#main h1 {
    font-size: 4vw;
}

#submit {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1vw 2vw;
    background-color: #A8DADC;
    font-family: Merriweather;
    border-radius: 4px;
    font-size: 2vw;
    /* font-weight: 600; */
    left: 40%;
    margin-bottom: 1vw;
}

#submit:hover {
    background-color: #457B9D;
    color: #F1FAEE;
}

#story {
    padding: 0 3%;
    margin: 0% 5%;
    line-height: 3vw;
}

#top {
    background-color: rgb(255, 255, 255);
    margin: 2% 10%;
    border-radius: 15px;
}

#top img {
    display: block;
    width: 35%;
    margin: 0 auto;
}

.italics {
    font-style: italic;
}

.word {
    font-weight: bold;
    text-decoration: underline;
}

#originalstory, #startover {
    font-size: 2vw;
}

@media all and (min-width: 320px) and (max-width: 768px), (orientation: portrait) {
    label, #yesorno, option, select {
        font-size: 3vw;
    }
    form {
        line-height: 7vw;
    }
    input[type="text"], input[type="number"], select {
        height: 4vw;
        width: 30vw;
        border-radius: 5px;
        border:1px solid #cccccc;
        font-size: 2.8vw;
        text-align: left;
        padding: 0% 1vw;
    }
    #story, #moral-message {
        line-height: 6vw;
        font-size: 3vw;
    }
}