@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;700&display=swap');


body {
    background-color: white !important;
    margin: 0;
}

content {
    margin-left: 10%;
}

.contacts {
    background-color: white;
}

h1{
    margin: 0px 0px 0px 20px;
    font-family: Oswald;
    color: #1d3557;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
}

h2 {
    margin: 0px 1.5%;
    font-family: Merriweather;
    font-size: 2.5vw;
    font-weight: 700;
}

h3 {
    margin: 0px 20px;
    font-family: Merriweather;
    font-size: 2.5vw;
    font-weight: 400;
}

p {
    margin: 0px 20px !important;
    font-family: Merriweather;
    font-size: 2vw;
    font-weight: 300;
}

#colors,#fonts,#headings {
    border: solid white 0.5px;
    margin: 20px 40px;
    align-content: center;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.colors {   
    padding: 1% 1.5%;
    margin: 2% 1%;
    width: 8vw;
    height: 8vw;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
}

#color {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#prussianblue {
    background-color: #1d3557;
    color: #F1FAEE;
    
}

#celadonblue {
    background-color: #457b9d;
}
    
#powderblue {
    background-color: #A8DADC;
}

#honeydew {
    background-color: #F1FAEE;
    color: #1d3557;
    position: relative;
}

#imperialred {
    background-color: #e63946;
    color: #F1FAEE;
}

.fonts {
    padding: 5px 10px;
    margin: 0px 20px 0px 20px; 
}

.oswald {
    font-family: Oswald;
}

.merriweather {
    font-family: Merriweather;
}

ul {
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    .colors {   
        padding: 6% 6%;
        margin: 5% 3%;
        width: 10vw;
        height: 10vw;
        display: inline-flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;

    #color {
        justify-content: space-around;
    }
    #fonts {
        font-size: 4vw;
    }
    h2 {
        font-size: 5.5vw;
    }
    h3 {
        font-size: 4vw;
    }
    p {
        font-size: 3vw;
    }    
}