body {
    background-color: white !important;
    margin: 0;
}

content {
    margin-left: 150px;
}

.contacts {
    background-color: white;
}

h1{
    margin: 0px 0px 0px 20px;
    font-family: Oswald;
    color: #1d3557;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
}

h2 {
    margin: 0px 20px;
    font-family: Merriweather;
    font-size: 2vw;
    font-weight: 700;
}

h3 {
    margin: 0px 20px;
    font-family: Merriweather;
    font-size: 1.5vw;
    font-weight: 400;
}

p {
    margin: 0px 20px !important;
    font-family: Merriweather;
    font-size: 1vw;
    font-weight: 300;
}

#colors,#fonts,#headings {
    border: solid white 0.5px;
    margin: 20px 40px;
    align-content: center;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.colors {   
    padding: 10px 15px;
    margin: 20px 10px;
    width: auto;
    height: 55px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 1.4vw;
}

#prussianblue {
    background-color: #1d3557;
    color: #F1FAEE;
    
}

#celadonblue {
    background-color: #457b9d;
}
    
#powderblue {
    background-color: #A8DADC;
}

#honeydew {
    background-color: #F1FAEE;
    color: #1d3557;
    position: relative;
}

#imperialred {
    background-color: #e63946;
    color: #F1FAEE;
}

.fonts {
    padding: 5px 10px;
    margin: 0px 20px 0px 20px; 
}

.oswald {
    font-family: Oswald;
}

.merriweather {
    font-family: Merriweather;
}

ul {
    margin-top: 5px;
}