@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.toys {
    margin: 3% 5% 3% 5%;
    background-color: #f8f2f9;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 2vw;
}

h1 {
    font-size: 3vw;
    color: #1d3557;
    font-family: Lato;
    margin: 0;
    text-align: center;
}

.toys h2 {
    margin: 0;
}

.toys a:hover { 
    color: #457B9D !important;
}

.toys a:visited { 
    text-decoration: none;
    color: #04436d;
}

.toys h3 {
    font-family: Lato;
    color: #1d3557;
    margin: 0;
    font-size: 2vw;
}

.toys a {
    font-family: Lato;
    color: #1d3557;
    margin: 0;
    font-size: 2vw;
}

a {
    text-decoration: underline;
    font-size: 2vw;
}

#toylink {
    font-family: Lato;
    font-size: 2.3vw;
}

.toydescription {
    color: #457B9D !important;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.7vw 0vw;
}

@media only screen and (max-width: 480px) {
    .toys {
        margin: 3% 5% 5% 5%;
    }

    h1 {
        font-size: 4.5vw;
    }

    .toys h3 {
        font-size: 4vw;
    }

    .toys a {
        font-size: 4vw;
    }

    #toylink {
        font-size: 5.5vw;
    }

    .toydescription {
        font-size: 4.5vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .toys {
        margin: 3% 5% 5% 5%;
    }

    h1 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 2.6vw;
    }

    a {
        font-size: 3vw;
    }

    #toylink {
        font-size: 3.5vw;
    }

    .toydescription {
        font-size: 3vw;
    }
}