@font-face {
    font-family: 'Oswald';
    src: url('./resources/oswald-variablefont_wght-webfont.woff'),
        url('./resources/oswald-variablefont_wght-webfont.woff');
    font-style: normal;
}

body {
    margin: 0;
    position: relative;
}


header {
    width: 100%;
    margin-bottom: 16px;
    display: inline-block;
}



header h1 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 35px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color:  #1b4f72;
    margin: 0;
    width: 300px;
    display: inline-block;
}

header .navbutton {
    padding: 10px;
    font-family: Oswald;
    font-weight: 800;
    font-size: 24px;
    color: #1b4f72;
    position: relative;
}

header .navbutton:hover {
    background-color: #035a94;
    color: #bed9e4;
}

.contacts {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    float: right;
    padding-right: 5px;
    opacity: 1;
    filter: saturate(70%);
}

header .active {
    background-color: #002d4b;
    color: rgb(203, 227, 236);
}

#banner {
    margin: 0;
    padding: 0px;
    position: relative;
    height: 350px;
}

#banner img {
    opacity: 0.5;
    height: 350px;
    width: 100%;
    margin: 0;
    position: absolute;
    object-fit: cover;
}

#banner h1 {
    color: #082233;
    opacity: 1;
    position: relative;
    font-family: Oswald;
    font-size: 72px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

#banner h2 {
    color: #082233;
    opacity: 1;
    position: relative;
    font-family: Oswald;
    font-size: 45px;
    text-align: center;
    margin : auto;
}

.intro {
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px; 
    overflow: hidden;
}

.intro img {
    opacity: 0.3;
    height: 250px;
    position: absolute;
    width: 100%;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
} 

.intro img:hover {  
    opacity: 0.6;
    width: 100%;
    transform: scale(1.1); 
}

.intro h3 {
    color: #012d4b;
    opacity: 1;
    position: relative;
    font-family: Oswald;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    height: 170px;
    margin-left: 45px;
    margin-right: 45px;
    transform: translate(0%, 25%);
}

.article {
    padding: 16px 16px;
    margin-right: 150px;
    margin-left: 20px;
}

.article h1{
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: 600;
    /* font-style: oblique; */
    text-align: left;
    color:     #2874a6;
    opacity: 1;
    padding-top: 10px;
    width: auto;
    margin-bottom: 0%;
}

.article #time {
    font-family: 'Oswald';
    font-size: 18px;
    /* font-style: oblique; */
    font-weight: 600;
    border-bottom: 2px solid #2874a6;
    color:   #2e86c1;
    margin-top: 0%;
}

.article p {
    font-family: Helvetica;
    font-size: 20px;
    color: black;
    text-align: left;
    width: auto;
    line-height: 150%;
}

.link {
    font-style: normal;
    color: blue;
}