h1 {
    font-family: 'Oswald';
    font-size: 3vw;
    font-weight: 600;
    color:     #123e5c;
    opacity: 1;
    padding: 0;
    text-align: center;
}

h3 {
    font-family: Oswald;
    font-size: 2.5vw;
    font-weight: 400;
    color:   #117892;
    padding: 0;
    text-align: center;
    /* display: flex; */
}


main {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    /* display:block; */
    text-align: center;
}

.heading {
    margin: 5% 10%;
    width: 80%;
}

.subheading {    
    margin: 2% 5%;
}


p {
    font-family: Merriweather;
    /* font-size: 1.5vw; */
    font-weight: 300;
    color: black;
    line-height: 190%;
    margin: 0%;
}

.link {
    font-style: normal;
    color: blue;
    text-decoration: underline;
}

.images {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 20%;
    align-items: center;
    text-align: center;
}

.image {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    width: 60%;
}

.features {
    display: flex;
    margin: 5% 5%;
    text-align: center;
    align-items: center;
}

.featurecaption {
    width: 90%;
    margin: 5% 5%;
    align-items: center;
    display: block;
    line-height: 160%;
}

b {
    font-weight: 700;
    font-size: 2vw;
    margin-bottom: 1vw;
}


.faq {
    margin: 1% 10%;
    background-color: #ffffff;
    padding: 2.5vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    display: block;
    font-family: Merriweather;
    line-height: 170%;
}

.faq b {
    font-size: 1.5vw;
}

.faq p {
    /* font-size: 1.2vw; */
    line-height: 150%;
}

.faqtitle {
    font-family: Merriweather;
    box-shadow: 0;
    margin: 1% 5%;
    color: #000;
}

.pricingtitle {
    font-family: Merriweather;
    margin: 0% 5%;
    color: #000;
}

.pricingdetails {
    margin: 1% 28%;
    align-items: center;
    background-color: #ffffff;
    padding: 1%;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    display:block;
    font-family: Merriweather;
    font-size: 3.5vw;
}

ul {
    font-size: 1.5vw;
    line-height: 160%;
    padding-left: 6%;
    text-align: center;
    width: 90%;
    list-style-type: none;
    margin: 5% 0%;
}

li {
    margin: 2% 0%;
}

ul li:before {
    content: "\2713\0020";
}
.bold {
    font-weight: 700;
}
.italic{
    font-style: italic;
}

#postscript {
    font-style: italic;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: clamp(1.5rem, 4.5vw, 2.5rem);
    }
    .subheading {
        font-size: clamp(1.2rem, 4vw, 2rem);
    }
    p, li {
        font-size:  3vw;
        text-align: center;

    }

    b, ul {
        font-size: 3.5vw;
        text-align: center;
    }
    ul {
        width: 90%;
    }

    li {
        width: 90%;
        font-size: 4vw;
    }
    .pricingdetails {
        margin: 2rem auto;
        width: 85%;
        padding: 5% 0%;
    }
    .button-container {
        height: 20vw;
    }
    .button-wrapper{
        height: 20vw;
    }
    /* .submit {
      height: 16vw;
      width: 25vw;
      max-width: 10rem;
      max-height: 5rem;
    } */
    .features {
        display: block;
        text-align: center;
    }
    
    .image {
        width: 90%;
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }

    .submit {
      z-index:2;
      width: 28vw;
      height:14vw;
      margin: 1vw auto;
      background: linear-gradient(to right, #8ecae6 0%,#023047 100%); 
      display:block;
      border-radius:200px;
      text-align:center;
      color:rgba(255,255,255,1);
      text-decoration:none;
      line-height:420%;
      transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    outline:none;
}

.button-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size:1.67vw;
  text-transform:uppercase;
  letter-spacing:0.2vw;
  color:white;
  width:100%;
  position: absolute;
  left: 0;
  /* padding:20px 0px; */
  overflow: visible;
}

.button-container {
    position: relative;
    height: 9vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
}

.submit, .loader, .loader-wrapper{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

.submit {
  z-index:2;
  width: 14vw;
  height:7vw;
  margin: 1vw auto;
  background: linear-gradient(to right, #8ecae6 0%,#023047 100%); 
  display:block;
  border-radius:200px;
  text-align:center;
  color:rgba(255,255,255,1);
  text-decoration:none;
  line-height:420%;
  transition: all 0.7s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#button-wrapper::selection, .submit::selection {
  background: transparent;
}

.submit:before {
  content:"";
  z-index:-2;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #8ecae6 0%,#023047 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  top: 0;
  left: 0;
  opacity:0.8;
  transform:scale(0.9) translateY(15px);
  filter:blur(20px);
  transition:all 0.2s ease;
}

.submit:after {
  content:"";
  z-index:-4;
  width:100%;
  height:100%;
  background: linear-gradient(to right, #8ecae6 0%,#023047 100%); 
  display:block;
  border-radius:200px;
  position:absolute;
  text-align:center;
  top: 0;
  left: 0;
  opacity:0;
  transform:scale(1);
}

.submit:hover:before {
  transform:scale(0.9) translateY(5px);
  filter:blur(15px);
}

.submit:active {
  line-height:460%;
  filter:brightness(0.95);
  transition:all 0s;
}

.checked .submit:before {
  top:0px;
  opacity:0;
}

.checked .submit:after {
    animation: submit-after-anim 0.5s 4.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
   -webkit-filter: url("#goo");
   filter: url("#goo");
}

.yellow {
  background-color: #8ecae6;
}

.pink {
  background-color: #023047;
  }

.orange {
  background-color: #219ebc;
  transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .pink {
  animation: loader-anim-pink 4s cubic-bezier(0.645, 0.045, 0.355, 0.8);
}

.checked .yellow  {
  animation: loader-anim-yellow 4s 0.2s cubic-bezier(0.645, 0.045, 0.355, 0.8);
}

.checked .orange {
   animation: loader-anim-orange 4s 0.7s cubic-bezier(0.645, 0.045, 0.355, 0.8);
}

.loader {
  width:9vw;
  height:9vw;
  border-radius:50%;
  opacity:0;
  z-index:1;
}

.checked .loader {
  opacity:1;
}

.checked .loader-wrapper {
  animation: wrapper-loader-anim 4.2s linear;
  width: 7vw;
  height: 7vw;
  /* margin: 0.5vw auto; */
  transform:scale(0);
}

.checked .submit {
  width:7vw;
  color:rgba(255,255,255,0);
  background: linear-gradient(to right, #219ebc 0%,#219ebc 100%);
  animation: submit-anim 4s  cubic-bezier(0.39, 0.575, 0.565, 1);
  }


.check-wrapper {
  position:relative;
  margin: 1vw auto;
  width:7vw;
  height:7vw;
  z-index:-1;
  opacity:1;
}

.check-wrapper svg {
  margin: 20% 20%;
  height:60%;
  width: 60%
}

.check{fill:none;
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
 stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  z-index:-1;
  }

.checked .check-wrapper {
  z-index:3;
}

.checked .check {
  animation: check 4s 4.4s ease forwards;
}


@keyframes loader-anim-pink {
    0% {transform:scale(0.2) rotate(0deg) translate(220px, 0); }
  100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0);}
}

@keyframes loader-anim-yellow {
     0% {transform:scale(0.2) rotate(0deg) translate(300px, 0); }
  100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0);}
}

@keyframes loader-anim-orange {
  0%,70% {transform:scale(0.2) rotate(30deg) translate(0); }
  85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
  100% {transform:scale(0.2) rotate(30deg) translate(0); }
}

@keyframes wrapper-loader-anim {
    0% {transform:scale(0) translateY(0) }
    10% {transform:scale(1) translateY(20px)}
  50% {transform:scale(1.2) translateY(10px) }
  90% {transform:scale(1) translateY(-10px)}
  100% {transform:scale(0) translateY(0)}
}

@keyframes submit-after-anim {
  0% {transform:scale(1); opacity:0.3 }
   100% {transform:scale(3); opacity:0 }
}

@keyframes submit-anim {
    0% {transform:scale(1) }
      5%, 95% {transform:scale(0.7) }
  100% {transform:scale(1)}
}

@keyframes check {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}