@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
}

header {
  width: 100%;
  margin-bottom: 0.5vw;
  display: inline-block;
}

header h1 {
  font-family: Lato;
  font-weight: 600;
  font-style: bold;
  font-size: 2.5vw;
  padding: 1% 1% 1% 2%;
  color:  #1d3557;
  margin: 0;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}

header a {
  text-decoration: none;
  font-family: Lato;
  font-weight: 600;
}

nav {
  display: inline-flex;
}

.navbutton {
  padding: 2% 2%;
  font-family: Raleway;
  font-weight: 500;
  font-size: 2vw;
  color: #457B9D;
  position: relative;
}

.navbutton:hover {
  background-color: #c0e9fc;
  color: #457B9D;
}

header .active {
  background-color: #c0e9fc;
}

header img {
  width: 3vw;
  height: 3vw;
}

.contacts {
  float: right;
  padding: 0%;
  top: 0.5vw;
  right: 1vw;
  position: relative;
  margin: 0.8vw 0.4vw;
}

footer {
  margin: 0%;
  width: 100%;
  position: relative;
  display: block;
  text-align: center;
  padding: 1.5vw 0;
  z-index: auto;
}

footer h3 {
  font-size: 2vw;
  margin: 0.5%;
  text-align: center;
  font-family: Lato !important;
  font-weight: 600;
  color: #1d3557;
}

footer h4 {
  font-size: 1.5vw;
  margin: 0;
  text-align: center;
  font-family: Raleway !important;
  font-weight: 500;
  color: #1d3557;
}

#inwork {
  text-align: center;
  margin: 16.7vw 0;
  font-size: 2.5vw;
}

@media only screen and (max-width: 480px) {
  header {
    margin-bottom: 0.6vw;
  }

  header h1 {
    width: 100%;
    font-size: 5.5vw;
    text-align: left;
  }

  .navbutton {
    font-size: 3.5vw;
    left: 2%;
    padding: 1% 2%;
  }

  .contacts {
    top: 5%;
    margin: 0vw 0.6vw;
  }

  header img {
    width: 5.5vw;
    height: 5.5vw;
  }

  footer h3 {
    font-size: 4vw;
    margin: 0;
  }

  footer h4 {
    font-size: 3.5vw;
    margin: 0% 15%;
  }
}

@media only screen and (max-width: 1024px) {
  header {
    margin-bottom: 0.6vw;
  }

  header h1 {
    width: 100%;
    font-size: 4.5vw;
    text-align: left;
    padding: 1% 1% 0% 2%;
  }

  nav {
    margin-top: 0.5%;
  }

  .navbutton {
    font-size: 3vw;
    left: 2%;
    margin: 0% 1%;
    padding: 1% 1.5%;
  }

  .contacts {
    top: 5%;
    margin: 0vw 0.6vw;
  }

  header img {
    width: 5vw;
    height: 5vw;
  }

  footer h3 {
    font-size: 3vw;
    margin: 0;
  }

  footer h4 {
    font-size: 2.5vw;
    margin: 0% 10%;
  }
}